<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>Le formulaire</title>
		</head>
		<body>
			<form action="http://localhost:5000/resultat" method="post">
					<label>Nom</label> : <input type="text" name="nom" />
					<label>Prénom</label> : <input type="text" name="prenom" />
					<label>Mr ou Mme</label> : <input type="text" name="sexe" />
					<label>Pseudo</label> : <input type="text" name="pseudo" />
					<input type="submit" value="Envoyer" />
			</form>
		</body>
	</html>