<!doctype html>
<html>
    <head>
        <title>Formulaire</title>
    </head>

    <body>
        <h1>Veuillez compléter ce formulaire</h1>
        <form action="." method="POST">
            <div>
                <label for="lastname">Nom</label>
                <input type="text" name="lastname">
            </div>
            <div>
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname">
            </div>
            <div>
                <input type="radio" id="homme"
                name="sex" value=1 checked>
                <label for="homme">Homme</label>
                
                <input type="radio" id="femme"
                name="sex" value=1>
                <label for="femme">Femme</label>
            </div>
            <div>
                <label for="pseudo">Pseudo</label>
                <input type="text" name="pseudo">
            </div>
            <button type="submit">Enregistrer</button>
        </form>
    </body>
</html>