<!doctype html>
<html>
    <head>
        <title>Formulaire</title>
        <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <h1>Veuillez saisir le formulaire</h1>
        <form action="." method="POST">
            <h2>votre prénom</h2>
            <input type="text" name="prenom">
            <h2>votre nom</h2>
            <input type="text" name="nom">
            <h2>votre sexe (Mr ou Mme)</h2>
            <input type="text" name="sexe">
            <h2>votre pseudo</h2>
            <input type="text" name="pseudo">
            <button type="submit">OK</button>
        </form>
    </body>
</html>